.wap-container{
    height: 95vh;
    width: 95%;
background: linear-gradient(180deg, rgb(216, 43, 4) 0%, rgb(249, 226, 16) 48%, rgb(255, 129, 10) 100%);
margin:auto ;
margin-top: 5%;
border-radius: 50px;
}

.top-bar{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    gap: 10px
}

.top-bar input{
    display: flex;
    height: 50px;
    width:250px;
    border:none;
    outline: none;
    padding-left: 40px;
    border-radius: 40px;
    color:#626262;
    font-size: 15px;
    font-weight: 400;
}

.search-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 50%;
    cursor:pointer;

}

.weather-img{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.weather-temp{
    display:flex;
    justify-content: center;
    color: white;
    font-size: 80px;
    font-weight: 400;
}

.weather-location{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
}

.data-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    color:white;
}

.element{
    margin: auto;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    

}

.data{
    font-size:20px;
    font-weight: 400;
}

.text{
    font-size: 20px;
    font-weight: 400;
}

.icon{
    margin-top: 10px;
}


@media (min-width: 768px) {
    .wap-container {
        width: 40%; /* Adjust as needed */
        height: 130vh;
        margin-bottom: 5%;
    }

    .top-bar input {
        width: 300px; /* Adjust as needed */
    }

    .weather-temp {
        font-size: 120px; /* Adjust as needed */
    }

    .weather-location {
        font-size: 60px; /* Adjust as needed */
    }

    .data-container {
        margin-top: 70px; /* Adjust as needed */
    }

    .element {
        gap: 20px; /* Adjust as needed */
    }

    .data,
    .text,
    .icon {
        font-size: 24px; /* Adjust as needed */
    }
}